In [1]:
#(a) 
import pandas as pd

csv = pd.read_csv('iris.csv')
print(csv.shape)
csv.head()

(150, 6)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
#(b)
from sklearn.preprocessing import LabelEncoder 
csv_data = csv[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
csv_label= csv[["Species"]]
le=LabelEncoder()
x2=csv_label.apply(le.fit_transform)
print(x2.head(5))
print(type(x2))

   Species
0        0
1        0
2        0
3        0
4        0
<class 'pandas.core.frame.DataFrame'>

In [4]:
#(c)
import pandas as pd
from sklearn.model_selection import train_test_split

train_data, test_data, train_label, test_label = train_test_split(csv_data, csv_label, test_size=0.33, random_state=42 )

print(train_data.head(5))
print(test_data.head(5))
print(train_label.head(5))
print(test_label.head(5))

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
96             5.7           2.9            4.2           1.3
105            7.6           3.0            6.6           2.1
66             5.6           3.0            4.5           1.5
0              5.1           3.5            1.4           0.2
122            7.7           2.8            6.7           2.0
     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
73             6.1           2.8            4.7           1.2
18             5.7           3.8            1.7           0.3
118            7.7           2.6            6.9           2.3
78             6.0           2.9            4.5           1.5
76             6.8           2.8            4.8           1.4
             Species
96   Iris-versicolor
105   Iris-virginica
66   Iris-versicolor
0        Iris-setosa
122   Iris-virginica
             Species
73   Iris-versicolor
18       Iris-setosa
118   Iris-virginica
78   Iris-versicolor
76   Iris-versicolor

In [8]:
#(d)
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(train_data, train_label)
from sklearn.metrics import accuracy_score
pred = clf.predict(test_data)    
accuracy = accuracy_score(pred, test_label)    
print ("정답률 : ", accuracy)

정답률 :  0.96

C:\Users\dkfka\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
#(e) -- random함수를 사용하면 milisecond 단위로 실행 되기 때문에 실행 시마다 똑같은 값이 나오지 않습니다.따라서  seed값을 줘서 고정 시켜야줘야 합니다.